constants:
  log-channel-id: 1076211859302129726
  owner-ids:
    - 383287544336613385
  synced: false
  test-guild-id: 1066891416934023218
debug:
  state: true
extensions:
  - src.ext.commands
  - src.ext.updates
  - src.ext.dev
prefix: '!'
privileged-intents:
  members: false
  message_content: true
  presences: false
token: MafmWFajKWJFKjwakjkjlfkwaj.WFAF12.WAKJAKLWJGJw1243