debug: false
constants:
  log-channel-id: 1076211859302129726
  owner-ids:
    - 383287544336613385
  synced: false
  test-guild-id: 1066891416934023218
  cache-retention-seconds: 300
extensions:
  - src.ext.config
  - src.ext.commands
  - src.ext.dev
  - src.ext.bookmark
  - src.ext.update_check
prefix: '?'
privileged-intents:
  members: false
  message_content: true
  presences: false
proxy:
    enabled: true
    ip: 210.148.141.4
    port: 8080
    username: null
    password: null
user-agents:
    aquamanga: null
    aniglisscans: null