black
discord
aiohttp
aiosqlite
aiofiles
pyyaml
beautifulsoup4
fuzzywuzzy
python-Levenshtein
pandas
openpyxl
curl_cffi
tldextract
brotli
fastapi
patreon
git+https://github.com/Rapptz/discord.py.git
rapidfuzz
certifi
camoufox[geoip]
playwright-captcha