black
discord
aiohttp
aiosqlite
aiofiles
pyyaml
beautifulsoup4
fuzzywuzzy
python-Levenshtein
pandas==2.2.1
openpyxl
curl_cffi>=0.6.1
tldextract
brotli
fastapi
patreon
git+https://github.com/Rapptz/discord.py.git